
<body class="indexbody">
<title> Web Calculators Lab </title>

<div><header>Web Calculators Lab</header></div>


<button class="mainbutton"><a href="/area">Area</a></button>
<button class="mainbutton"><a href="/slope">Slope</a></button>
<button class="mainbutton"><a href="/salestax">Sales Tax</a></button>
</body>