<body class="page">
<div class="title">SALES TAX CALCULATOR</div>


<div class="input">
  <label for="price">Price of item: $</label>
  <input type="text" id="price">
</div>
<div class="input">
  <label for="taxpercentage">Sales tax percentage (decimal amount):</label>
  <input type="text" id="taxpercentage">
</div> <br>

<div>
  <input class="submitbutton" type="submit" value="Calculate Total Price:" id="salestaxbutton">
</div> <br>

<div id="output" class="output"></div>

<button class="link"><a href="/area">Area</a></button>
<button class="link"><a href="/slope">Slope</a></button> <br>
<button class="link"><a href="/">Home</a></button>

</body>
