
<body class="page">

<div class="title">SLOPE CALCULATOR</div>

<div>
    <label for="x1" class="input">x1 coordinate:</label>
    <input type="text" id="x1" name="x1">
  </div>

  <div>
    <label class="input" for="y1">y1 coordinate:</label>
    <input type="text" id="y1" name="y1">
  </div>

  <div>
    <label class="input" for="x2">x2 coordinate:</label>
    <input type="text" id="x2" name="x2">
  </div>

  <div>
    <label class="input" for="y2">y2 coordinate:</label>
    <input type="text" id="y2" name="y2">
  </div>

  <div>
    <input type="submit" value="Calculate Slope" id="slopebutton" class="submitbutton">
  </div>

  <div id="result" class="output"></div>

<button class="link"><a href="/salestax">Sales Tax</a></button>
<button class="link"><a href="/area">Area</a></button> <br>

  <button class="link"><a href="/">Home</a></button>
</body>